/* adjust alignment of every element */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets background color to white */
body{
    background-color: #d9dcd6;
}

/* give the header its font, colors and padding */
.header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sizing for the header */
.header h1{
    display: inline-block;
    font-size: 48px;
}

/* color for .seo */
.header h1 .seo {
    color: #d9dcd6;
}

/* nav link margins and size */
.header div{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removes the dots for the nav list */
.header div ul{
    list-style-type: none;
}

/* keeps the list in line */
.header div ul li{
    display: inline-block;
    margin-left: 25px;
}

/* color in a tag and removes decor */
a {
    color: #ffffff;
    text-decoration: none;
}

/* fontsize in p's */
p {
    font-size: 16px;
}

/* banner image */
.hero{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* keeps cards on the left */
.float-left{
    float: left;
    margin-right: 25px;
}

/* keeps card on the right */
.float-right{
    float: right;
    margin-left: 25px;
}

/* size and alignment of cards to the left */
.content{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* card on the right's text and alignment */
.benefits{
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* benefits text color & margin */
.beneficiary{
    margin-bottom: 32px;
    color: #ffffff;
}

/* benefits text align */
.beneficiary h3{
    margin-bottom: 10px;
    text-align: center;
}

/* benefits image alignment */
.beneficiary img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Removed redundancy and combined into one shared class */
.Format{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* image size */
.Format img{
    max-height: 200px;
}
/* text size */
.Format h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer */
.footer{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer h2 font size */
.footer h2{
    font-size: 20px;
}

